.popular {
  padding: 120px 0 190px;
  text-align: center;
  &__title {
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    color: #0F303F;
    margin-bottom: 75px;
  }
  &__row {
    display: flex;
    column-gap: 45px;
  }
  &__card {
    width: calc(25% - 33.75px);
    &-img {
      width: 100%;
    }
    &-title {
      font-family: sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      text-transform: uppercase;
      color: #0F303F;
      margin-top: 29px;
    }
    &-desc {
      font-family: sans-serif;
      font-weight: 300;
      font-size: 16px;
      line-height: 23px;
      text-align: center;
      text-transform: capitalize;
      color: #0F303F;
      margin-bottom: 10px;
    }
    &-price {
      font-family: sans-serif;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.045em;
      text-transform: uppercase;
      color: #FD5454;
      display: flex;
      justify-content: center;
      column-gap: 5.5px;
    }
    &-oldPrice {
      text-decoration: line-through;
      text-transform: uppercase;
      color: #CECECE;
    }
  }
}